<config>
  <apiEndpoint>http://apitesting.gnoss.com/</apiEndpoint>
  <!--<apiEndpoint>http://api.depuracion.net/</apiEndpoint>-->
  <communityShortName>akademiaprueba</communityShortName>
  <ontologyName>Recurso Multimedia</ontologyName>
  <developerEmail>sergiodedios@gnoss.com</developerEmail>
  <token>
    <tokenKey>s9DypeOQ2kjER44pL3NcRoR3waBqsXS6</tokenKey>
    <tokenSecret>2dLypeOQ2kgqio9jtvMpSZsMIVsJUGfz</tokenSecret>
  </token>
  <consumer>
    <consumerKey>XyfjpeOQ2kgxS5MZ2sQOQKqZwFb3nhxB</consumerKey>
    <consumerSecret>8ovjpeOQ2kio9OfxiSvNSocfQwhWvo53</consumerSecret>
  </consumer>
  <log>
    <logPath>C:\Log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>