<config>
  <apiEndpoint>http://preserviciosprado.gnoss.com/api/v3</apiEndpoint>
  <communityShortName>elprado</communityShortName>
  <ontologyName>Audioguias de exposicion</ontologyName>
  <developerEmail>elpradosemantico@gmail.com_eliminado_eliminado</developerEmail>
  <token>
    <tokenKey>6/IaSpdi10gmmnEdfrVVSZeOSTmZ5T/M</tokenKey>
    <tokenSecret>6/IaSpdi10joTkuZkNjDT4tAN/cCJ9nY</tokenSecret>
  </token>
  <consumer>
    <consumerKey>WZnzRZdi10h3AWFU/JGeTLtBHvEs5/8O</consumerKey>
    <consumerSecret>WZnzRZdi10jfJT7Q9aeXTqBPSIj3KJav</consumerSecret>
  </consumer>
  <log>
    <logPath>C:\Log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>