<config>
  <apiEndpoint></apiEndpoint>
  <communityShortName></communityShortName>
  <ontologyName>Audioguias de exposicion</ontologyName>
  <developerEmail>elpradosemantico@gmail.com_eliminado_eliminado</developerEmail>
  <token>
    <tokenKey></tokenKey>
    <tokenSecret></tokenSecret>
  </token>
  <consumer>
    <consumerKey></consumerKey>
    <consumerSecret></consumerSecret>
  </consumer>
  <log>
    <logPath>C:\Log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>
