<config>
  <apiEndpoint>http://serviciostrygnoss.gnoss.com/apiv3</apiEndpoint>
  <communityShortName>demo-gnoss-mayo-2022-1</communityShortName>
  <ontologyName>Exposicion</ontologyName>
  <developerEmail>alumno_1_2022_gnoss@gnosstest.com</developerEmail>
  <token>
    <tokenKey></tokenKey>
    <tokenSecret></tokenSecret>
  </token>
  <consumer>
    <consumerKey></consumerKey>
    <consumerSecret></consumerSecret>
  </consumer>
  <log>
    <logPath>C:\Log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>
