<config>
  <apiEndpoint>http://apitesting.gnoss.com/</apiEndpoint>
  <!--<apiEndpoint>http://api.depuracion.net/</apiEndpoint>-->
  <communityShortName>akademiaprueba</communityShortName>
  <ontologyName>Recurso Multimedia</ontologyName>
  <developerEmail>sergiodedios@gnoss.com</developerEmail>
  <token>
    <tokenKey></tokenKey>
    <tokenSecret></tokenSecret>
  </token>
  <consumer>
    <consumerKey></consumerKey>
    <consumerSecret></consumerSecret>
  </consumer>
  <log>
    <logPath>C:\Log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>
